/* ESTILIZAÇÂO GLOBAL */

:root {
  --purple-primary: #483698;
  --purple-hover: #322569;
  --yellow-cta1: #ffe766;
  --yellow-cta2: #fbda40;
  --secondary-7: #282828;
  --red-danger: #dc3545;
}
#app {
  font-family: "Open Sans";
}
#app .home,
#app .page2,
#app .page3 {
  background-color: var(--yellow-cta1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
#app .v-container {
  padding: 80px 120px;
  background-color: #fff;
  border-radius: 2.5rem;
  min-height: 80vh;
  margin-top: 80px;
  width: 60%;
  /* padding: 30px; */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 380px;
}
.v-form-control,
.v-custom-select {
  border-color: var(--purple-primary) !important;
  background-color: #fff;
  font-family: "Comfortaa";
  padding: 8px 20px !important;
}

.v-form-control-error,
.v-custom-select-error {
  border-color: red !important;
  background-color: #fff;
  padding: 8px 20px !important;
}
.v-custom-checkbox {
  margin: 20px;
}
.v-bold {
  font-weight: 600;
}
.v-text-purple {
  color: var(--purple-primary);
  font-family: "Comfortaa";
  font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa";
}
.v-bg-purple {
  background: var(--purple-primary);
}

.home {
  background-color: var(--yellow-cta1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.progressBar {
  padding: 10px;
  height: 15px;
  background-color: var(--purple-primary);
  margin-top: 20px;
}
.text-progress {
  font-family: "Comfortaa";
  color: var(--purple-primary);
  text-align: right !important;
  display: flex;
  text-align: left;
  justify-content: flex-end;
  align-items: flex-start;
  width: 20%;
}

@media screen and (max-width: 1222px) {
  .text-progress {
    width: 25%;
  }
}
@media screen and (max-width: 992px) {
  #app .v-container {
    background-size: 230px;
  }
  .text-progress {
    width: 45%;
  }
}

@media screen and (max-width: 830px) {
  #app .v-container {
    background-size: 200px;
    margin-top: 15vh;
    min-height: 95vh;
  }
  .text-progress {
    width: 35%;
    margin-left: auto;
  }
}
@media screen and (max-width: 769px) {
  #app .v-container {
    min-height: 100%;
    background-image: none !important;

    padding: 60px;
  }
  .text-progress {
    width: 45%;
  }
}
@media screen and (max-width: 530px) {
  #app .v-container {
    min-height: 100%;
    background-image: none !important;
    width: 80%;

    padding: 60px;
  }
}
@media screen and (max-width: 414px) {
  #app .v-container {
    width: 100%;
    padding: 60px 20px;
  }
}
